
/* footer */

.footer__container {
    display: flex;
    justify-content: center;
    max-width: 1502px;
    margin: 0 auto;
    padding: 20px 20px 120px;
}

.footer__first-column {
    margin-right: auto;
    max-width: 347px;
}

.footer__subheading {
    margin: 24px 0 122px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 32px;
    color: #FFFFFF;
}

.footer__copyright {
    max-width: 347px;
    font-weight: 500;
    font-size: 15px;
    line-height: 32px;
    color: #FFFFFF;
    opacity: 0.5;
}

.footer__list-container {
    display: flex;
    max-width: 566px;
    width: 100%;
    justify-content: space-between;
}

.footer__lists {
    list-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}

.footer__list-element {
    margin-bottom: 16px;
}

.footer__list-element:first-child {
    font-size: 24px;
    color: #FBD784;
    margin-bottom: 24px;
}

.footer__list-element:last-child {
    margin-bottom: 0px;
}

@media(max-width: 1020px) {
    .footer__list-container {
        max-width: 400px;
    }
}

@media(max-width: 795px) {
    .footer__container {
        flex-direction: column-reverse;
    }

    .footer__list-container {
        padding-bottom: 40px;
        max-width: 483px;
        margin: 0 auto;
    }

    .footer__first-column {
        text-align: center;
        margin: 0 auto;
        max-width: unset;
    }

    .footer__subheading {
        margin-bottom: 50px;
    }

    .footer__copyright {
        max-width: unset;
        font-size: 10px;
    }
}

@media(max-width: 485px) {

    .footer__list-container {
        flex-direction: column;
        text-align: center;
    }

    .footer__list-element {
        margin-bottom: 8px;
        font-size: 16px;
    }

    .footer__list-element:first-child {
        margin-bottom: 4px;
        margin-top: 40px;
        font-size: 20px;
    }

    .footer__subheading {
        margin: 0px 0px 18px;
        font-size: 13px;
    }

    .footer__logo {
        max-width: 90px;
    }
}