.header {
  padding: 64px 75px 50px 75px;
  width: 100%;
  background-image: linear-gradient(180deg, rgba(11, 29, 38, 0) 75%, #0B1D26 96%), url(img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1200px;


}

/* .header::after {
  display: block;
  position: relative;
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 80.38%);
  margin-top: -150px;
  height: 150px;
  width: 100%;
  content: "";
} */

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;

  color: #fff;

}

.header__logo {
  font-weight: bold;
  font-size: 24px;
}

.header__menu {
  display: flex;
  gap: 40px;

}

.header__account {
  display: flex;
  align-items: center;
}

.header__account p {
  margin-left: 8px;
}

.background {
  position: relative;
}

.header__header-container {
  margin-top: 198px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__header-content {
  width: 100%;
  max-width: 950px;
}

.header__main-heading {
  margin-top: 32px;
  font-weight: 600;
  font-size: 70px;
  line-height: 100px;
}

.header__sub-heading-cont {
  display: inline-flex;
  align-items: center;
}

.header__sub-heading {
  margin-left: 32px;
  color: #fbd784;
}

.header__scroll {
  display: flex;
}

.header__sub-line {
  width: 72px;
  height: 2px;
  border-color: #fbd784;
}

.header__scroll p {
  /* margin-left: 16px; */
}

.header__scroll img {
  margin-left: 12px;
}

.header__social {
  position: sticky;
  top: 30;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__social p {

  /* writing-mode: lr-tb; */
  font-size: 18px;
  margin-bottom: 24px;
  writing-mode: vertical-lr;
}

.header__social img {
  margin-top: 24px;
  max-width: 24px;
}

.header__slider {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 18px;
  position: sticky;
  top: 0;
  right: 0;

}

.header__slider-list {
  /* display: flex; */
  /* align-self: flex-start; */
  list-style: none;
  /* margin-bottom: 40px; */
  justify-self: flex-start;
}

.header__slider-list li {
  padding-bottom: 40px;
  border-right: 4px solid rgb(255, 255, 255, 0.5);
  padding: 16px;
}

@media (max-width: 1317px) {
  .header__main-heading {
    font-size: 40px;
    /* line-height: 99%; */
    line-height: 50px;
    margin-bottom: 20px;

  }
}

@media (max-width: 560px) {
  .header__main-heading {
    font-size: 30px;
    line-height: 35px;

  }
}

@media (max-width: 1200px) {
  .header__social {
    transform: translateY(140%);
  }
}

@media (max-width: 1200px) {
  .header__slider {
    transform: translateY(140%);
  }
}

@media (max-width: 700px) {
  .header__nav {
    flex-wrap: wrap;
  }
}

@media (max-width: 700px) {
  .header__menu {
    order: 1;
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
  }

}

/* width: 100%;
    order: 4;
    justify-content: space-between;
    margin-top: 10px; */