.main__container {
    padding-top: 10rem;
    max-width: 1462px;
    margin: 0 auto;
}

.main__list {
    list-style: none;
}

.main__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
    position: relative;
    padding: 0 20px;
}

.main__list-item:nth-child(even) {
    flex-direction: row-reverse;
}

.main__item-container {
    display: flex;
    flex-direction: column;
    max-width: 782px;
    max-height: 439px;
    padding-left: 5rem;
    padding-right: 4rem;
    justify-content: space-between;
    position: relative;
}

.main__list-item img {
    max-width: 100%;
}

.main__item-number {
    position: absolute;
    top: -103px;
    left: 0;
    font-weight: bold;
    font-size: 190px;
    line-height: 240px;
    color: #FFFFFF;
    opacity: 0.1;
}

.main__item-heading-wrap {
    display: flex;
    align-items: center;
}

.main__item-heading-wrap::before {
    content: '';
    width: 72px;
    height: 2px;
    background: #FBD784;
    border: none;
    display: inline-block;
    margin-right: 32px;
}

.main__item-heading {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FBD784;
    margin-top: 0;
    margin-bottom: 0;
}

.main__item-subheading {
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    margin-right: 77px;
    margin-top: 27px;
    margin-bottom: 27px;
}

.main__item-content {
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 0px;
}

.main__item-nav {
    display: flex;
    margin-top: 2.7rem;
}

.main__item-nav-text {
    font-size: 18px;
    line-height: 22px;
    color: #FBD784;
    margin-right: 1rem;
}

@media (max-width: 1060px) {

    .main__list-item {
        flex-direction: column-reverse;
    }

    .main__list-item:nth-child(even) {
        flex-direction: column-reverse;
    }

    .main__item-container {
        display: flex;
        flex-direction: column;
        padding-top: 15rem;
        padding-left: 5rem;
        padding-right: 4rem;
    }

    .main__item-number {
        padding-top: 15rem;
    }

    .main__item-heading-wrap {
        display: flex;
        align-items: center;
    }

    .main__item-heading {
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 4px;
    }

    .main__item-subheading {
        font-weight: 600;
        font-size: 40px;
        line-height: 47px;
        margin-right: 77px;
    }

    .main__item-content {
        font-weight: bold;
        font-size: 14px;
        line-height: 28px;
    }
}

@media (max-width: 620px) {
    .main__list-item {
        padding-top: 10rem;
    }

    .main__list-item:last-child {
        padding-bottom: 15rem;
    }

    .main__item-number {
        font-size: 160px;
    }

    .main__item-subheading {
        font-size: 35px;
    }

    .main__item-content {
        font-size: 12px;
    }

    .main__item-content {
        font-size: 16px;
    }
}

@media (max-width: 465px) {
    .main__list-item {
        padding-bottom: 10rem;
    }

    .main__item-container {
        padding-top: 7rem;
    }

    .main__item-number {
        padding-top: 8rem;
    }
}

@media (max-width: 370px) {
    .main__item-subheading {
        line-height: 45px;
        margin-right: 25px;
    }
}

@media (max-width: 320px) {
    .main__item-subheading {
        font-size: 25px;
        line-height: 35px;
        margin-right: 35px;
        margin-bottom: 12px
    }

    .main__item-number {
        font-size: 100px;
        line-height: 225px;
    }

    .main__item-heading {
        font-size: 10px;
    }

    .main__item-content {
        font-size: 14px;
    }

    .main__list-item {
        padding-bottom: 10rem;
    }

    .main__list-item:last-child {
        padding-bottom: 25rem;
    }

    .main__item-container {
        padding-top: 5rem;
    }
}