.main__container {
    max-width: 1462px;
    margin: 0 auto;
}

.main__list {
    list-style: none;
}

.main__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 720px;
    margin-bottom: 200px;
    position: relative;
}

.main__list-item:nth-child(even){
    flex-direction: row-reverse;
}

.main__item-container {
    display: flex;
    flex-direction: column;
    max-width: 782px;
    max-height: 439px;
    padding-left: 15rem;
    justify-content: space-between;
    position: relative;
}

.main__item-number {
    position: absolute;
    top: -103px;
    left: 0;
    font-weight: bold;
    font-size: 240px;
    line-height: 240px;
    color: #FFFFFF;
    opacity: 0.1;
}

.main__item-heading-wrap {
    display: flex;
    align-items: center;
}

.main__item-heading-wrap::before {
    content: '';
    width: 72px;
    height: 2px;
    background: #FBD784;
    border: none;
    display: inline-block;
    margin-right: 32px;
}

.main__item-heading {
    font-weight: 800;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
    margin-top: 0;
    margin-bottom: 0;
}

.main__item-subheading {
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    color: #FFFFFF;
    margin-right: 77px;
    margin-top: 27px;
    margin-bottom: 27px;
}

.main__item-content {
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 0px;
}

.main__item-nav {
    display: flex;
    margin-top: 2.7rem;
}

.main__item-nav-text{
    font-size: 18px;
    line-height: 22px;
    color: #FBD784;
    margin-right: 1rem;
}
