
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #0B1D26;
    font-family: 'Libre Baskerville', serif;
}

a{
    text-decoration: none;
}