/* PAGE COLORS
#FFFFFF
#FBD784
#354147

background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);

Chronicle Display
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1920px;
  font-family: "Libre Baskerville", serif;
  color: #fff;
}

a {
  text-decoration: none;
}